<div class="row">
            <div class="col-lg-6">
                <div class="widget navy-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">10</h1>

                        <h3 class="font-bold no-margins">
                            Movimientos
                        </h3>
                        <small>Movimiento de inventario.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget lazur-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">$ 210,660</h1>

                        <h3 class="font-bold no-margins">
                            Ventas
                        </h3>
                        <small>Ventas diarias.</small>
                    </div>
                </div>
            </div>
        </div>
 
