<div class="row" ng-controller="recaudosController" data-ng-init="getVentas()" >
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-lg-9">
                        <h2>Gestion de Recaudos</h2>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group"><input type="text" placeholder="Buscador" class="input-sm form-control"  ng-model="filtro"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>

            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Factura #</th>
                                <th>Cedula</th>
                                <th>Cliente</th>
                                <th>Fecha</th>
                                <th>Forma de Pago</th>
                                <th>Valor inicial</th>
                                <th>Abono</th>
                                <th>Subtotal</th>
                                <th>Descuento</th>
                                <th>Total</th>
                                <th>Nº Cuotas</th>
                                <th>Valor Cuotas</th>
                                <th>Saldo</th>
                                <th colspan="3" style="text-align: center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Ventas| filter: filtro | orderBy:'-idventa'">
                                <td>{{item.idventa}}</td>
                                <td>{{item.cedula}}</td>
                                <td>{{item.nombre}} {{item.apellidos}}</td>
                                <td>{{item.fecha}}</td>
                                <td>{{item.formaPago}}</td>
                                <td><span class="label label-warning-light pull-right" style="font-size: 12px;">{{item.abono + item.subtotal| currency}}</span></td>
                                <td>{{item.abono| currency}}</td>
                                <td>{{item.subtotal| currency}}</td>
                                <td>{{item.descuento}} % = {{item.descuentoValor| currency}}</td>
                                <td><span class="label label-success pull-right" style="font-size: 12px;">{{item.total| currency }}</span></td>
                                <td>{{item.numeroCuotas}}</td>
                                <td>{{item.valorCuotas| currency }}</td>
                                <td><span class="label label-danger pull-right" style="font-size: 12px;">{{item.saldo| currency}}</span></td>
                                <td style="text-align: center">
                                    <a href="javasrcritp:;"  title="Ver Venta" data-toggle="modal"  ng-click="showVenta(item)"><i class="fa fa-eye" style="font-size:20px;color:#1A7BB9;"></i></a>
                                </td>
                                <td style="text-align: center">
                                    <a href="javasrcritp:;"  title="Anular venta" data-toggle="modal"  ng-click="deleteVenta(item)"><i class="fa fa-close" style="font-size:20px;color:red;"></i></a>
                                </td>
                                <td style="text-align: center">
                                    <a href="javasrcritp:;"  title="Modificar Venta"   ng-click="getVentasD(item)"><i class="fa fa-edit" style="font-size:20px;color:#F8AC59;"></i></a>
                                </td>
                                 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="detalleVenta" class="modal inmodal in fade" role="dialog">
        <div class="modal-dialog modal-lg" style="width:100%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Detalle de Venta</h4>
                </div>
                <div class="modal-body">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li id="t1" class="active"><a data-toggle="tab" href="javascript:;" aria-expanded="true" onclick="tab(1)">Detalle de Venta</a></li>
                            <li id="t2" class=""><a data-toggle="tab" href="javascript:;" aria-expanded="false" onclick="tab(2)">Registro de Pagos</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h4><i class="fa fa-users" style="font-size:18px;"></i>&nbsp;&nbsp;Informacion del cliente</h4>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Cedula:</td>
                                                        <td>{{detalleVenta.cedula}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nombres:</td>
                                                        <td>{{detalleVenta.nombre}} {{detalleVenta.apellidos}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Telefono:</td>
                                                        <td>{{detalleVenta.telefono}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ciudad:</td>
                                                        <td>{{detalleVenta.ciudad}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Direccion</td>
                                                        <td>{{detalleVenta.direccion}} {{detalleVenta.barrio}}</td>
                                                    </tr>
                                                     <tr>
                                                        <td></td>
                                                        <td><button class="btn btn-primary" ng-click="printFacturaVenta();"><i  class="fa fa-print" style="font-size:20px;"></i> Imprimir factura</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="table-responsive">
                                                <h4><i class="fa fa-shopping-cart" style="font-size:18px;"></i>&nbsp;&nbsp;Detalle de Compra</h4>

                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <td>Nombre</td>
                                                                <td>cantidad</td>
                                                                <td>Precio</td>
                                                                <td>Total</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in Productos| filter: filtro | orderBy:'-id'">
                                                                <td>{{item.nombre}}</td>
                                                                <td>{{item.cantidad}}</td>
                                                                <td>{{item.precio| currency}}</td>
                                                                <td>{{item.total| currency}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>


                                            </div>

                                        </div>
                                        <div class="col-lg-5">
                                            <div class="table-responsive">
                                                <h4><i class="fa fa-money" style="font-size:18px;"></i>&nbsp;&nbsp;Informacion de pago</h4>
                                                <table class="table">
                                                    <tr>
                                                        <td>Forma de pago:</td>
                                                        <td>
                                                            {{detalleVenta.formaPago}} 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Fecha de Compra:</td>
                                                        <td>
                                                            {{detalleVenta.fecha}} 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tiempo de pago:</td>
                                                        <td>
                                                            {{detalleVenta.tiempoPago}} Mes(es)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Descuento</td>
                                                        <td>{{detalleVenta.descuento}} &#37; </td>
                                                    </tr>
                                                    <tr>
                                                    <tr>
                                                        <td>Total de Compra:</td>
                                                        <td>{{detalleVenta.abono + detalleVenta.subtotal| currency}} </td>
                                                    </tr>
                                                    <td>Abono:</td>
                                                    <td>{{detalleVenta.abono| currency}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Total a pagar:</td>
                                                        <td><small>{{detalleVenta.subtotal| currency}} - {{detalleVenta.descuentoValor| currency}} = </small><span class="label label-warning-light pull-right" style="font-size: 12px;"> {{detalleVenta.total| currency}}</span> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Numero de Cuotas:</td>
                                                        <td>{{detalleVenta.numeroCuotas}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Valor de Cuotas:</td>
                                                        <td><span class="label label-danger-light pull-right" style="font-size: 12px;"> {{detalleVenta.valorCuotas| currency}}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Saldo de deuda:</td>
                                                        <td><span class="label label-danger pull-right" style="font-size: 24px;"> {{detalleVenta.saldo| currency}}</span></td>
                                                    </tr>


                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    
                               <!---------------factura venta-------------------------------------------->
    
     <div class="row" id="facturaVenta" style="display: none">
        <div class="col-lg-7">
        <table border="1" style="border-collapse: collapse;border:1px solid #c3c3c3;">
            <tr>
                <td width="60%;" style="text-align: center"><img src="../images/logo.png" alt="" width="200px"/></td>
                <td><p style="padding: 8px;font-size:11px;">Carrera 14 #7-93 - tel/cel: 301 643 77 81  - 301 354 332 47 Barrio Primero de Mayo<br>Agustin Codazzi - Cesar</p></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><p style="font-size:11px;padding-top:8px;padding-bottom:8px;">VENTA DE MUEBLES, NEVERAS, TELEVISORES, CAMAS, COLCHONES, LAVADORAS, ESTUFAS, ESCAPARATES, COMEDORES DE CONTADO Y CREDITO</p></td>
            </tr> 
            <tr>
                <td><table border="0"><tr><td>Fecha de remision:</td><td>{{detalleVenta.fecha}}</td></tr></table></td>
                <td><table border="0"><tr><td>Remision N:</td><td><div id="codigo_r" style="background-color:#1e88e5;color:#FFF;font-weight:900;padding:3px;border-radius:5px; ">{{detalleVenta.id}}</div></td></tr></table></td>
            </tr>
            <tr>
                <td colspan="2"><table border="0"><tr><td>Señor(es):</td><td>{{detalleVenta.nombre}} {{detalleVenta.apellidos}}</td></tr></table></td>
            </tr>
            <tr>
                <td><table border="0"><tr><td>C.C./NIT:</td><td>{{detalleVenta.cedula}}</td></tr></table></td>
                <td><table border="0"><tr><td>Tel/Cel:</td><td>{{detalleVenta.telefono}}</td></tr></table></td>
            </tr>
            <tr>
                <td colspan="2"><table border="0"><tr><td>Direccion:</td><td>{{detalleVenta.direccion}} {{detalleVenta.barrio}} {{detalleVenta.ciudad}}</td></tr></table>
            </tr>
        </table>
            <br>
            <table width="100%" border="1" style="border-collapse: collapse;border:1px solid #c3c3c3;">
                <tr>
                    <td width="10%;">Cantidad</td>
                    <td>Articulo</td>
                    <td style="text-align: center;">V. unitario</td>
                     <td style="text-align: center;">VALOR TOTAL</td>
                </tr> 
                 <tbody>
                     <tr ng-repeat="item in Productos| filter: filtro | orderBy:'-id'">
                          <td>{{item.nombre}}</td>
                          <td>{{item.cantidad}}</td>
                           <td>{{item.precio| currency}}</td>
                          <td>{{item.total| currency}}</td>
                           </tr>
                       </tbody>
            </table>
            <br>
            <table width="100%" border="1" style="border-collapse: collapse;border:1px solid #c3c3c3;">
               
                <tr>
                    <td colspan="2" width="70%">TOTAL:</td>
                    <td colspan="2" align="right"> {{detalleVenta.abono + detalleVenta.subtotal| currency}}</td>
                </tr>
            </table>
        </div>
    </div>
                                     
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="table-responsive"  style="height: 400px;">
                                                <h4><i class="fa fa-calendar" style="font-size:18px;"></i>&nbsp;&nbsp;Fechas de pago</h4>
                                                <input type="hidden" value="" id="id_fechaLimite">
                                                <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <td>Nº</td>
                                                                <td width="50%"Fecha limite</td>
                                                                <td  width="20%">Estado</td>
                                                                <td>Agregar a pago
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in fechaPagos">
                                                                <td>{{$index +1}}</td>
                                                                <td>{{item.fecha}}</td>
                                                                <td style="font-size: 10px;">{{item.estado}}</td>
                                                                <td ng-if="item.estado == 'PENDIENTE'" style="text-align: center;"><label><input type="checkbox" id="{{item.id}}" value="{{item.id}}/{{item.fecha}}"  onchange="angular.element(this).scope().addFechaLimite(this.value);"></label></td>
                                                                <td ng-if="item.estado == 'PAGADO'" style="text-align: center;"><i class="fa fa-angellist" style="font-size:18px;color:#F8AC59;"></i></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="table-responsive">
                                                <h4><i class="fa fa-money" style="font-size:18px;"></i>&nbsp;&nbsp;Ingreso de pago</h4>
                                                <table class="table">
                                                    <tr>
                                                        <td>Saldo de deuda:</td>
                                                        <td><span class="label label-danger pull-right" style="font-size: 16px;"> {{detalleVenta.saldo| currency}}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Valor del Pago:</td>
                                                        <td><input type="number" class="form-control" ng-model="Pago.valor"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Fecha Limite:</td>
                                                        <td><input type="text" id="fechaLimite" class="form-control" disabled=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Fecha de Pago:</td>
                                                        <td><input type="date" id="fechaPago" class="form-control"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td style="text-align: right; font-weight:900"><button class="btn btn-success" ng-click="registroPago(detalleVenta.saldo);">REGISTRAR PAGO</button></td>
                                                    </tr>

                                                </table>
                                                </div>
                                            </div>
                                        <div class="col-lg-5">
                                            <div class="table-responsive">
                                                <h4><i class="fa fa-line-chart" style="font-size:18px;"></i>&nbsp;&nbsp;Historial de pago</h4>
                                            </div>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <td>Nº</td>
                                                                <td>Fecha de Limite</td>
                                                                <td>Fecha de Pago</td>
                                                                <td>Valor</td>
                                                                <td>Saldo</td>
                                                                <td>Acciones</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in listaPagos">
                                                                <td>{{$index +1}}</td>
                                                                <td>{{item.fechaLimite}}
                                                                <td>{{item.fecha}}</td>
                                                                <td>{{item.valor | currency}}</td>
                                                                <td>{{item.saldo | currency}}</td>
                                                                 <td style="text-align: center">
                                    <a href="javasrcritp:;"  title="Anular Pago" data-toggle="modal"  ng-click="deletePago(item)"><i class="fa fa-close" style="font-size:20px;color:red;"></i></a>
                                <a href="javasrcritp:;"  title="Anular Pago" data-toggle="modal"  ng-click="preImprimirAbono(item)"><i  class="fa fa-print" style="font-size:20px;color:green;"></i>
                                                                 </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>
    
    <div id="Venta" class="modal inmodal in fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Detalle de Venta</h4>
                </div>
                <div class="modal-body">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li id="t1" class="active"><a data-toggle="tab" href="javascript:;" aria-expanded="true">Detalle de Venta</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="row">
                                     <table class="table">
                               <tbody>
                                     <tr>
                                       <td width="50%">Factura:</td>
                                       <td><input type="text" id="Factura" class="form-control" readonly=""></td>
                                   </tr>
                                   <tr>
                                       <td width="50%">Fecha de Compra:</td>
                                       <td><input type="date" id="fechaCompra" class="form-control"></td>
                                   </tr>
                                   <tr>
                                       <td>Forma de Pago:</td>
                                       <td><select class="form-control m-b" id="formaPago" name="account">
                                               <option value="CONTADO">
                                                   CONTADO
                                               </option >
                                                <option value="CREDITO">
                                                    CREDITO
                                               </option>
                                                <option value="CREDI-CONTADO">
                                                    CREDI-CONTADO
                                               </option>
                                           </select></td>
                                   </tr>
                                   <tr>
                                       <td>Movimiento:</td>
                                       <td><select class="form-control m-b" id="movimiento" name="account">
                                                <option value="VA">
                                                    VENTA DE ALMACEN
                                               </option>
                                               <option value="VB">
                                                   VENTA DE BODEGA
                                               </option >
                                                <option value="VC">
                                                    VENTA DE CAMIONETA
                                               </option>
                                           </select></td>
                                   </tr>
                               </tbody>
                           </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    
                    </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="modificqrventa()">Actualizar</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>
    
     <div class="row" id="facturaAbono" style='display:none'>
        <div class="col-lg-7">
        <table border="1" style="border-collapse: collapse;border:1px solid #c3c3c3;">
            <tr>
                <td width="60%;" style="text-align: center"><img src="../images/logo.png" alt="" width="200px"/></td>
                <td><p style="padding: 8px;font-size:11px;">Carrera 14 #7-93 - tel/cel: 301 643 77 81  - 301 354 332 47 Barrio Primero de Mayo<br>Agustin Codazzi - Cesar</p></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><p style="font-size:11px;padding-top:8px;padding-bottom:8px;">VENTA DE MUEBLES, NEVERAS, TELEVISORES, CAMAS, COLCHONES, LAVADORAS, ESTUFAS, ESCAPARATES, COMEDORES DE CONTADO Y CREDITO</p></td>
            </tr> 
            <tr>
                <td colspan="2"><table border="0"><tr><td>Fecha de remision:</td><td><div id="fechaPagoFactura"></div></td></tr></table></td>
               
            </tr>
            <tr>
                <td colspan="2"><table border="0"><tr><td>Señor(es):</td><td>{{detalleVenta.nombre}} {{detalleVenta.apellidos}}</td></tr></table></td>
            </tr>
            <tr>
                <td><table border="0"><tr><td>C.C./NIT:</td><td>{{detalleVenta.cedula}}</td></tr></table></td>
                <td><table border="0"><tr><td>Tel/Cel:</td><td>{{detalleVenta.telefono}}</td></tr></table></td>
            </tr>
            <tr>
                <td colspan="2"><table border="0"><tr><td>Direccion:</td><td>{{detalleVenta.direccion}} {{detalleVenta.barrio}}</td></tr></table>
            </tr>
        </table>
            <br>

            <table width="100%" border="1" style="border-collapse: collapse;border:1px solid #c3c3c3;">
                <tr>
                    <td colspan="2" width="70%">Valor de Pago:</td>
                    <td colspan="2" align="right">{{Pago.valor | currency}}</td>
                <tr>
                   <td colspan="2" width="70%">SALDO:</td>
                    <td colspan="2" align="right" ng-if="sapo == 0"> {{detalleVenta.saldo - Pago.valor | currency}}</td>
                    <td colspan="2" align="right" ng-if="sapo == 1"> {{detalleVenta.saldo | currency}}</td>
                </tr>
            </table>
        </div>
    </div>
    
    
    
   
    
    </div>

<!--
 <tbody>
                                                    <tr>
                                                        <td>Cedula:</td>
                                                        <td>{{detalleVenta.cedula}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nombres:</td>
                                                        <td>{{detalleVenta.nombre}} {{detalleVenta.apellidos}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Telefono:</td>
                                                        <td>{{detalleVenta.telefono}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ciudad:</td>
                                                        <td>{{detalleVenta.ciudad}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Direccion</td>
                                                        <td>{{detalleVenta.direccion}} {{detalleVenta.barrio}}</td>
                                                    </tr>
                                                </tbody>
-->
<script>
    function tab(id) {
        if (id == 1) {
            $("#t1").addClass("active");
            $("#t2").removeClass("active");
            document.getElementById("tab-1").style.display = "block";
            document.getElementById("tab-2").style.display = "none";
        } else {
            $("#t2").addClass("active");
            $("#t1").removeClass("active");
            document.getElementById("tab-1").style.display = "none";
            document.getElementById("tab-2").style.display = "block";
        }
    }
</script>
<!----294.000---->