<div class="row" ng-controller="ventasController" data-ng-init="productos()">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="row">
                <div class="col-lg-9">
                <h2>Gestion de Ventas</h2>
                </div>
                
                </div>
                <div class="hr-line-dashed"></div>
            </div>
            
            <div class="ibox-content">
                <div class="row">
                <div class="col-lg-4">
                    <h3>Listado de Productos</h3>
                    
                    <div class="input-group"><input type="text" placeholder="Buscador" class="input-sm form-control"  ng-model="filtro"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                     <div class="table-responsive" style="height:250px;">
                    <table class="table table-striped">
                        <tr ng-repeat ="item in listaProductos | filter: filtro">
                            <td>{{item.id}}</td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.precioVenta | currency}}</td>
                           <td>{{item.EXISTENTE}}</td>
                            
                            <td>
                               <span ng-switch="{{item.EXISTENTE}}">
                                   <span ng-switch-default=""><a href="javascript:;" ng-click="addCart(item)"><i class="fa fa-plus-square" style="font-size:18px;"></i></a></span>
                               </span>
                            </td>
                        </tr>

                    </table>
                     </div>
                </div>
                <div class="col-lg-8">
                    <h4><i class="fa fa-shopping-cart" style="font-size:20px;"></i>&nbsp;&nbsp;Carrito de compras</h4>
                    
                       <div class="table-responsive" style="height:230px;">
                           <table class="table table-striped" >
                               <thead>
                               <th>
                                   Articulo
                               </th>
                               <th>
                                   Valor
                               </th>
                               <th width="20px">
                                   Cantidad
                               </th>
                               <th>
                                   Subtotal
                               </th>
                               <th>
                                   Eliminar
                               </th>
                               </thead>
                               <tbody>
                                   <tr ng-repeat="item in listaCarrito">
                                         <td>{{item.nombre}}</td>
                                         <td>{{item.precio | currency}}</td>
                                         <td style="text-align: center;"><input type="number" style="width: 45px;"  value="1"  ng-keyup="cambiarCantidad($index)" id="cantidad{{$index}}"></td>
                                         <td>{{item.subtotal | currency}}</td>
                                          <td style="text-align: center;"><a href="javascript:;" ng-click="sacarCarrito($index)"><i class="fa fa-minus-square" style="font-size:18px;color:red;"></i></a></td>
                                   </tr>
                                    <tr>
                                        <td colspan="3"><h4>TOTAL:</h4></td>
                                        <td  style="text-align: left"><h4>{{total | currency}}</h4></td>
                                       
                                    </tr>
                               </tbody>
                           </table>
                       </div> 
                </div>
                </div>
                   
                                   <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-lg-4">
                      <div class="table-responsive">
                           <h4><i class="fa fa-file-text" style="font-size:18px;"></i>&nbsp;&nbsp;Informacion de factura</h4>
                           <table class="table">
                               <tbody>
                                   <tr>
                                       <td>Cliente:</td>
                                       <td>
                                               <div class="input-group"><input type="number" placeholder="Cedula" id="cedula" class="input-sm form-control" > <span class="input-group-btn">
                                <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="consultarCliente();"><i class="fa fa-search"></i></a> </span></div>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td width="50%">Fecha de Compra:</td>
                                       <td><input type="date" id="fechaCompra" class="form-control"></td>
                                   </tr>
                                   <tr>
                                       <td>Forma de Pago:</td>
                                       <td><select class="form-control m-b" id="formaPago" name="account">
                                               <option value="CONTADO">
                                                   CONTADO
                                               </option >
                                                <option value="CREDITO">
                                                    CREDITO
                                               </option>
                                                <option value="CREDI-CONTADO">
                                                    CREDI-CONTADO
                                               </option>
                                           </select></td>
                                   </tr>
                                   <tr>
                                       <td>Movimiento:</td>
                                       <td><select class="form-control m-b" id="movimiento" name="account">
                                                <option value="VA">
                                                    VENTA DE ALMACEN
                                               </option>
                                               <option value="VB">
                                                   VENTA DE BODEGA
                                               </option >
                                                <option value="VC">
                                                    VENTA DE CAMIONETA
                                               </option>
                                           </select></td>
                                   </tr>
                               </tbody>
                           </table>
                       </div> 
                        </div>
                        <div class="col-lg-5">
                             <div class="table-responsive">
                           <h4><i class="fa fa-money" style="font-size:18px;"></i>&nbsp;&nbsp;Informacion de pago</h4>
                           <table class="table">
                               <tr>
                                    <td>Tiempo de pago:</td>
                                    <td>
                                        <select class="form-control" id="mesCuotas" ng-model="cuotas.mes" ng-change="calcularPago();">
                                            <option value="1">15 Dias</option>
                                            <option value="1">1 Mes</option> 
                                            <option value="3">3 Meses</option>
                                            <option value="6">6 Meses</option>
                                            <option value="12">12 Meses</option>
                                            <option value="15">15 Meses</option>
                                            <option value="18">18 Meses</option>
                                        </select>
                                    </td>
                                   </tr>
                                   <tr>
                                   <td>Descuento</td>
                                       <td>{{cuotas.descuento}} &#37; </td>
                                   </tr>
                               <tr>
                                    <td>Abono o Pago:</td>
                                       <td><input type="number" ng-model="cuotas.abono" class="form-control" ng-keyup="calcularPago()" ></td>
                                   </tr>
                                   <tr>
                                   <td>Total a pagar:</td>
                                   <td><small>{{grantotal | currency}} - {{cuotas.descuentoValor | currency}} = </small><span class="label label-warning-light pull-right" style="font-size: 12px;"> {{grantotal-cuotas.descuentoValor | currency}}</span> </td>
                                   </tr>
                                   <tr>
                                    <td>Numero de Cuotas:</td>
                                       <td>{{cuotas.numero}}</td>
                                   </tr>
                                   <tr>
                                    <td>Valor de Cuotas:</td>
                                    <td><span class="label label-danger-light pull-right" style="font-size: 12px;"> {{cuotas.valor | currency}}</span></td>
                                   </tr>
                                    
                                   
                           </table>
                             </div>
                        </div>
                        <div class="col-lg-3">
                            <h4><i class="fa fa-users" style="font-size:18px;"></i>&nbsp;&nbsp;Informacion del cliente</h4>
                             <table class="table">
                               <tbody>
                                   <tr>
                                       <td>Cedula:</td>
                                       <td>{{cliente.cedula}}</td>
                                   </tr>
                                   <tr>
                                       <td>Nombres:</td>
                                       <td>{{cliente.nombre}} {{cliente.apellidos}}</td>
                                   </tr>
                                   <tr>
                                       <td>Telefono:</td>
                                       <td>{{cliente.telefono}}</td>
                                   </tr>
                                   <tr>
                                       <td>Ciudad:</td>
                                       <td>{{cliente.ciudad}}</td>
                                   </tr>
                                   <tr>
                                       <td>Direccion</td>
                                       <td>{{cliente.direccion}} {{cliente.barrio}}</td>
                                   </tr>
                               </tbody>
                           </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="text-align: right;">
                            <button class="btn btn-danger" ng-click="registrarVenta();">Registrar Venta</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    
   <div id="registroCliente" class="modal inmodal in fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <i class="fa fa-user modal-icon"></i>
        <h4 class="modal-title">Registro de Cliente</h4>
      </div>
        <div class="modal-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="input-group">
                    <label>Nº de Cedula:</label>
                    <input type="number" id="cedula" ng-model="cliente.cedula" class="input-sm form-control" >
                </div>
                <div class="input-group">
                    <label>Nombres :</label>
                    <input type="text" ng-model="cliente.nombres" class="input-sm form-control" >
                </div>
                <div class="input-group">
                    <label>Apellidos:</label>
                    <input type="text" ng-model="cliente.apellidos" class="input-sm form-control" >
                </div>
                 <div class="input-group">
                    <label>Telefono:</label>
                    <input type="number"  ng-model="cliente.telefono" class="input-sm form-control" >
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <label>Direccion:</label>
                    <input type="text" ng-model="cliente.direccion" class="input-sm form-control" >
                </div>
                <div class="input-group">
                    <label>Barrio :</label>
                    <input type="text" ng-model="cliente.barrio" class="input-sm form-control" >
                </div>
                <div class="input-group">
                    <label>Ciudad:</label>
                    <input type="text"  ng-model="cliente.ciudad" class="input-sm form-control" >
                </div>
               
            </div>
        </div>
        </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" ng-click="registrarCliente();">Registrar</button>
      </div>
    </div>

  </div>
</div>
 
    <div class="row" id="factura" style='display: none'>
        <div class="col-lg-7">
        <table border="1" style="border-collapse: collapse;border:1px solid #c3c3c3;">
            <tr>
                <td width="60%;" style="text-align: center"><img src="../images/logo.png" alt="" width="200px"/></td>
                <td><p style="padding: 8px;font-size:11px;">Carrera 14 #7-93 - tel/cel: 301 643 77 81  - 301 354 332 47 Barrio Primero de Mayo<br>Agustin Codazzi - Cesar</p></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><p style="font-size:11px;padding-top:8px;padding-bottom:8px;">VENTA DE MUEBLES, NEVERAS, TELEVISORES, CAMAS, COLCHONES, LAVADORAS, ESTUFAS, ESCAPARATES, COMEDORES DE CONTADO Y CREDITO</p></td>
            </tr> 
            <tr>
                <td><table border="0"><tr><td>Fecha de remision:</td><td><div id="fechaCompra_r"></div></td></tr></table></td>
                <td><table border="0"><tr><td>Remision Nº:</td><td><div id="codigo_r" style="background-color:#1e88e5;color:#FFF;font-weight:900;padding:8px;border-radius:5px; "></div></td></tr></table></td>
            </tr>
            <tr>
                <td colspan="2"><table border="0"><tr><td>Señor(es):</td><td><div id="cliente_r"></div></td></tr></table></td>
            </tr>
            <tr>
                <td><table border="0"><tr><td>C.C./NIT:</td><td><div id="cedula_r"></div></td></tr></table></td>
                <td><table border="0"><tr><td>Tel/Cel:</td><td><div id="telefono_r"></div></td></tr></table></td>
            </tr>
            <tr>
                <td colspan="2"><table border="0"><tr><td>Direccion:</td><td><div id="direccion_r"></div></td></tr></table>
            </tr>
        </table>
            <br>
            <table width="100%" border="1" style="border-collapse: collapse;border:1px solid #c3c3c3;">
                <tr>
                    <td width="10%;">Cantidad</td>
                    <td>Articulo</td>
                    <td style="text-align: center;">V. unitario</td>
                     <td style="text-align: center;">VALOR TOTAL</td>
                </tr> 
                <tr ng-repeat="item in listaCarrito">
                    <td style="text-align: center;">{{item.cantidad}}</td>
                    <td>{{item.nombre}}</td>
                    <td style="text-align: right;">{{item.precio | currency}}</td>
                    <td style="text-align: right;">{{item.subtotal | currency}}</td>
                </tr>
            </table>
        </div>
    </div>
            </div>





