<div class="wrapper wrapper-content">
<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Mis canchas
                        <small>Registra tus canchas para que todos tus clientes las puedan ver.</small>
                    </h5></br>
                   <div class="hr-line-dashed"></div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <div class="row">
                    <div class="col-md-6">
                    <div  class="form-horizontal">
                        <div class="form-group"><label class="col-sm-4 control-label">Ponle un nombre a tu cancha</label>
                            <div class="col-sm-6"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-4 control-label">Que medidas tiene?</label>
                            <div class="col-sm-3">
                                <small>Largo (M)</small>
                                <input type="number" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <small>Ancho (M)</small>
                                <input type="number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-4 control-label">Tiene techo?</label>
                             <div class="col-sm-3">
                            <select class="form-control m-b" name="account">
                                <option value="SI">NO</option>
                              <option value="NO">SI</option>
                            </select>
                             </div>
                        </div>
                         <div class="form-group"><label class="col-sm-4 control-label">Sugiere el numero de jugadores por equipo</label>
                            <div class="col-sm-3"><input type="number" class="form-control"></div>
                        </div>
                  
                    </div>
                    </div>
                    <div class="col-md-6" >
                      <form action="" class="dropzone ng-pristine ng-valid dz-clickable" drop-zone="" id="file-dropzone">
                    <div class="dz-default dz-message"><span>Arrastra tus archivos aqui para subirlos</span></div></form>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><small class="col-sm-4 control-label">Ahora todos la conoceran.</small>
                            <div class="col-sm-4"><button class="btn btn-primary" type="submit">Guardar</button></div>
                        </div> 
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
