<div class="row" ng-controller="reporteController">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-lg-7">
                        <h2>Reportes de inventario</h2>
                    </div>
 <div class="input-group"><input type="text" placeholder="Buscador" class="input-sm form-control"  ng-model="filtro"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>

            <div class="ibox-content">
                <div class="row">

                    <div class="form-group col-lg-3">
                        <label>Fecha de inicial</label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span><input type="date" class="form-control" ng-model="movimiento.inicial">
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Fecha final</label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span><input type="date" class="form-control" ng-model="movimiento.final">
                        </div>
                    </div>
                    
                    <div class="col-lg-4" style="float: left;">
                        <div class="input-group">
                            <label>Tipo de consulta</label>
                            <select  class="form-control" ng-model="movimiento.consulta" ng-change="consulta()">
                                <option value="2">Entrada salidas bodega</option>
                                <option value="1">Entrada salidas almacen</option>
                                <option value="3">Entradas salidas camioneta</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2" style="float: left;padding-top: 22px">
                        <button class="btn btn-success" title="Cargar datos" id="actualizar" ng-click="reporfecha();"><i class="fa fa-search"></i></button>
                        <button class="btn btn-primary" title="Generar Reporte" id="actualizar" ng-click="imprimir();"><i class="fa fa-print"></i></button>
                    </div>
                </div>
                 <div class="table-responsive" ng-show="bodega">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Articulo</th>
                                <th>Existencia</th>
                                <th>Ing. compra</th>
                                <th style="text-align: center">Devoluciones</th>
                                <th style="text-align: center">Ent. camioneta</th>
                                <th style="text-align: center">Tras. camioneta</th>
                                <th style="text-align: center">Tras. alamacen</th>
                                <th style="text-align: center">Tras. alamacen-bodega</th>
                                <th style="text-align: center">Ventas bodega</th>
                                <th>Fecha</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: transparent" ng-repeat="item in listamovimiento | filter: filtro">
                                <td></td>
                                <td>{{item.nombre}}</td>
                                <td style="color: #d2322d">{{item.TOTAL_BODEGA}}</td>
                                <td style="color: #090">{{item.EXISTENTE}}</td>
                                <td style="text-align: center">{{item.TOTAL_DV}}</td>
                                <td style="text-align: center">{{item.ENTRADA_C}}</td>
                                <td style="text-align: center">{{item.TOTAL_T}}</td>
                                <td style="text-align: center">{{item.TOTAL_TA}}</td>
                                <td style="text-align: center">{{item.TOTAL_BA}}</td>
                                <td style="text-align: center">{{item.TOTAL_VB}}</td>
                                <td>{{item.fecha_movimiento}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                 <div class="table-responsive" ng-show="almacen">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Articulo</th>
                                <th style="color:#d2322d;text-align: left">Existencia</th>
                                <th style="color:#00c;text-align: left">Entrada compra</th>
                                <th style="color:#090;text-align: left">Total trasladado</th>
                                <th style="color:#6188e2;text-align: left">Traslado almacen bodega</th>
                                <th style="text-align: center">Total ventas </th>
                                <th>Fecha</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: transparent" ng-repeat="item in listamovimiento | filter: filtro">
                                <td></td>
                                <td>{{item.nombre}}</td>
                                <td style="color:#d2322d;text-align: left">{{item.EXISTENCIA_A}}</td>
                                <td style="color:#00c;text-align: center">{{item.ENTRADA_CAM}}</td>
                                <td style="color:#090;text-align: center">{{item.TOTAL_TA}}</td>
                                <td style="color:#6188e2;text-align: center">{{item.TOTAL_BA}}</td>
                                <td style="text-align: center">{{item.TOTAL_VA}}</td>
                                <td>{{item.fecha_movimiento}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                  <div class="table-responsive" ng-show="camioneta">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Articulo</th>
                                <th style="text-align: left">Trasladado</th>
                                <th style="text-align: left">Entradas</th>
                                <th style="text-align: left">Ventas camioneta</th>
                                <th style="text-align: center">Existencia</th>
                                <th>Fecha</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: transparent" ng-repeat="item in listamovimientocami | filter: filtro">
                                <td></td>
                                <td>{{item.NOMBRE}}</td>
                                <td style="text-align: left;color:#d2322d;">{{item.TOTAL_T}}</td>
                                <td style="text-align: left;color:#d2322d;">{{item.ENTRADA_C}}</td>
                                <td style="text-align: left">{{item.TOTAL_VCA}}</td>
                                <td style="text-align: center; color:#090;">{{item.TOTAL_CAMIONETA}}</td>
                                <td>{{item.fecha_movimiento}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div id="modalDescripcion" class="modal inmodal in fade" role="dialog">
        <div class="modal-dialog modal-sm" style="margin-right:80px;margin-top:100px">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ingresar Descripcion</h4>
                </div>
                <div class="modal-body">
                    <textarea ng-model="Productos.descripcion" id="descripcion" rows="4" cols="30" autofocus>
              
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>

<di id="div-test"></di>